{% extends "base.html" %}
{% block title %}
List of users
{% endblock title %}
{% block content %}
{% if object_list %}
	<div class="container">
		<div class="jumbotron">
			<h1>Want to create another user?</h1>
			<p><a class="btn btn-primary btn-lg" href="{% url 'user:create-user' %}" role="button">Create new user</a></p>
		</div>
	</div>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Date created</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in object_list %}
		  		<tr>
		  			<td><a href="{% url 'user:detail-user' user.uuid %}">{{ user }}</a></td>
		  			<td>{{ user.date_joined }}</td>
		  			<td>
		  				<a class="btn btn-warning btn-sm" role="button" href="{% url 'user:update-user' user.uuid %}">Edit</a>
		  				<a class="btn btn-danger btn-sm" role="button" href="{% url 'user:delete-user' user.uuid %}">Delete</a>
		  			</td>
		  		</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% else %}
<div class="container">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
	  <div class="container">
	    <h1>Are you ready to manage your users?</h1>
	    <p>Start by creating users</p>
	    <p><a class="btn btn-primary btn-lg" href="{% url 'user:create-user' %}" role="button">Create new user</a></p>
	  </div>
	</div>
</div>
{% endif %}
<div class="container">
  <!-- Example row of columns -->
  {% if not object_list %}
  <div class="row">
    <div class="col-md-4">
      <h2>Fast</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-4">
      <h2>Ellegant</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
   </div>
    <div class="col-md-4">
      <h2>CTS solutions</h2>
      <p>Since our inception that has been, and continues to be, the fundamental premise on which our business philosophy is based. With a solid and recognized trajectory in the receptive tourism industry, we design and operate conventional tourism programs for individuals and groups.</p>
    </div>
  </div>
  {% endif %}
  <hr>
</div>
{% endblock content %}